@media only screen and (max-width:1199px) {
	.center1199 {
		text-align: center !important;
		float: none;
	}
	.header-navbar .navbar-brand {
		margin-top: 16px;
	}
	.herader-topbar-col.tobar-rightside {
		
	}
	.topbar-arrow {
		display: none;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-left: 25px;
	}
	.about-col .image-hover-box {
		width: 80%;
		margin: 0 auto !important;
	}
	.appointment-img {
		width: 60%;
		margin: 0 auto;
	}
	.footer-post-col ul li {
		margin-bottom: 25px;
	}
	.footer-post-col ul li h5 {
		font-weight: normal;
	}
	.time-chart {
	    padding: 20px 10px;
	}
	.health-tips {
	    padding: 20px 10px;
	}
	.doctors-details-img {
		width: 60%;
		margin: auto;
		margin-bottom: 30px;
	}
	.doctors-details-col {
		text-align: center;
	}
	.separator-area:before {
		width: 60%;
	}
	.separator-area {
		background-size: 90%;
	}
	.about-image-box:before {
		bottom: 0;
		z-index: 1;
		height: 90%;
	}
	.about-col:hover .about-image-title {
		bottom: 20px;
	}
	
}


@media only screen and (max-width:1024px) {
	
}

@media only screen and (max-width:991px) {
	.center991 {
		text-align: center;
	}
	.header-topbar {
		padding: 10px 0 0;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-left: 12px;
	}
	.header-navbar .navbar-nav .dropdown-menu {
		margin-left: 12px;
	}
	.rtl-format .header-navbar .navbar-default .navbar-nav>li>a {
		margin-right: 20px;
		margin-left: 0;
	}
	.topbar-social {
	    display: inline-block;
	    margin-left: 5px;
	}
	.navbar-header {
	    
	}
	.header-navbar .navbar-brand {
	    margin-top: 22px;
	}
	.header-navbar .navbar-brand img {
		width: 120px;
	}
	.separator-area:before {
		width: 100%;
		height: 100%;
		margin-right: 0;
		-ms-transform: skewX(0deg);
    	-webkit-transform: skewX(0deg);
    	transform: skewX(0deg);
	}
	.separator-col {
		text-align: center;
	}
	.video-img {
		width: 90%;
		margin: auto;
		display: block;

	}
	.video-img img {
		width: 90%;
		margin: auto;
		display: block;
	}
	.hospital-video h3 {
		text-align: center;
	}
	.video-overlay {
		width: 90%;
		height: 100%;
		left: auto;
		right: 0px;
	}
	.ml0-991 {
		margin-left: 0 !important;
	}
	.notice-box p {
		margin-bottom: 20px;
	}
	.doctor-area .owl-carousel .owl-nav .owl-next {
		right: 0;
	}
	.doctor-area .owl-carousel .owl-nav .owl-prev {
		left: 0;
	}
	.carousel-caption {
		padding: 0 80px;
	}
	.main-herader-transparent .header-navbar .navbar-default .navbar-nav>li>a {
		padding: 10px 0;
	}
	.info-box {
		padding: 30px 15px;
	}
	.time-chart {
	    padding: 20px 20px;
	}
	.health-tips {
	    padding: 20px 20px;
	}
	.notice-area:before {
		width: 32%;
	}
	.notice-col {
		text-align: center;
	}
	.quick-contact {
		text-align: center;
	}
	.about-col .image-hover-box {
		width: 100%;
	}
	.box .box-content {
		padding-top: 20%;
	}
	.box .title {
		margin-bottom: 10px;
	}
	.main-footer .heading-under-line {
		display: none;
	}
	.main-footer h4 {
		margin-bottom: 30px;
	}
	.about-image-title h3 {
		font-size: 18px;
	}
	.portfolio-two-area .filtr-item {
		width: 33.25%;
	}
	.info-box {
	    padding: 30px 10px;
	}
	.carousel-caption h3 {
		font-size: 28px;
	}
	.box .box-content:before, .box .box-content:after {
		border: none;
	}

	
}

@media only screen and (max-width:900px) {
	.section-style:before {
		display: none;
	}
	.section-style:after {
		display: none;
	}
}

@media only screen and (max-width:840px) {
	.header-navbar .dropdown-menu {
	    min-width: 190px;
	}
}


@media only screen and (max-width:767px) {
	.center767 {
		float: none;
		text-align: center;
	}
	.header-topbar .topbar-arrow {
		display: none;
	}
	.header-navbar .navbar-brand {
		padding: 0 15px;
		margin-top: 18px;
	}
	.header-navbar .navbar-toggle {
		border-radius: 0;
		margin: 20px 15px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #999999;
	}
	.main-herader-transparent .navbar-default .navbar-toggle .icon-bar {
		background-color: #dddddd;
	}
	.main-herader-transparent .scroll-to-fixed-fixed .navbar-default .navbar-toggle .icon-bar {
		background-color: #999999;
	}
	.header-navbar .navbar-default .navbar-nav>li>a {
		margin-left: 0;
		padding: 12px 0;
	}
	.navbar-nav {
	    max-height: 350px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: transparent;
	}
	.main-nav.top-nav-collapse .icon-bar {
		background: #333333;
	}
	.navbar-collapse {
		margin-top: 20px;
	}
	.container>.navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	.main-nav .navbar-right {
		background: #f1f1f1;
		margin: 0 -15px;
		padding: 10px 0;
	}
	.main-nav .navbar-nav>li {
		width: 100%;
		text-align: center;
	}
	.main-nav .navbar-nav>li>a {
		margin-top: 0;
		margin-left: 0;
		color: #666666;
	}
	.navbar-header {
		float: left;
		width: 100% !important;
	}
	.header-navbar .navbar-nav {
		text-align: left;
	}
	.mega-menu>li {
		width: 50%;
	}
	.main-slider-area .carousel-control .glyphicon-chevron-right {
	    right: 10px;
	}
	.main-herader-transparent .header-navbar .navbar-brand {
		height: 0;
	}
	.main-herader-transparent .header-navbar .navbar-toggle {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.main-herader-transparent .header-navbar .navbar-default .navbar-nav>li>a {
		padding: 10px 15px;
		color: #111111;
	}
	.main-herader-transparent .navbar-default .navbar-collapse {
		background: rgba(255,255,255,0.9);
	}
	.herader-topbar-col.tobar-rightside {
		text-align: center;
	}
	.portfolio-area .filtr-item {
		width: 50%;
	}
	.portfolio-two-area .filtr-item {
		width: 50%;
	}
	.quick-contact {
		text-align: left;
	}
	.about-image-box:before {
		width: 100%;
	}
	.box .box-content {
	    padding-top: 25%;
	}
	
	
}


@media only screen and (max-width:600px) {
	.fw600 {
		width: 100%;
	}
	.text-center600 {
		float: none;
		text-align: center;
	}
	.main-nav .navbar-brand {
		width: 180px;
		height: auto;
	}
	.our-doctor .social-group li a {
		margin: 0;
		width: 30px;
    	height: 30px;
    	font-size: 12px;
    	line-height: 30px;
	}
	.about-image-box {
		width: 100%;
	}
	.about-image-box:before {
		left: 0;
		bottom: 0;
		border: none;
	}
	.about-col:hover .about-image-box:before {
		left: 0;
		bottom: 0;
	}
	.about-image-title h3 {
		padding-left: 20px;
		padding-bottom: 10px;	
	}
	.welcome-col h1 {
		font-size: 36px;
	}
	.callback-col h2 {
		line-height: 36px;
	}
	.about-image-box:before {
	    width: 100%;
	    height: 100%;
	}
	.about-image-title {
		left: 0;
	}
	.about-col:hover .about-image-title {
		bottom: 0;
	}
	
}

@media only screen and (max-width:480px) {
	.separator-col h2 {
		font-size: 24px
	}
	.separator-col h4 {
		font-size: 16px;
		font-weight: normal;
	}
	.box .box-content:before, .box .box-content:after {
		border: none;
	}
	.carousel-caption {
		top: 48%;
	}
	.testimonial-two-section .testimonial {
		text-align: center;
	}
	.testimonial-two-section .testimonial .pic {
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.mega-menu>li {
		width: 100%;
	}
	.middel-item {
		margin-left: 0;
	}
	.carousel-caption {
		padding: 0 60px;
	}
	.carousel-caption h3 {
		font-size: 22px;
	}
	.portfolio-area .filtr-item {
		width: 100%;
	}
	.box .box-content {
	    padding-top: 30%;
	}
}

@media only screen and (max-width:420px) {
	.main-nav .navbar-brand {
		width: 150px;
		height: auto;
	}
	.navbar-toggle {
		margin-bottom: 0;
	}
	.herader-topbar-col.tobar-rightside p a span {
		background: transparent;
	}
	.herader-topbar-col.tobar-rightside span:last-child {
		margin-left: 0;
	}
	.carousel-caption h3 {
		font-size: 20px;
	}
	.carousel-caption p {
		font-size: 12px;
		margin-top: 30px;
	}
	.carousel-caption {
		padding: 0 50px;
	}
	.welcome-col h1 {
		font-size: 40px;
	}
	.tab .nav-tabs li a {
		font-size: 16px;
		padding: 0 10px 0;
	}
	.doctors-details-img {
		width: 100%;
		margin-bottom: 30px;
	}
	.portfolio-area .filtr-item {
		width: 100%;
	}
	.portfolio-two-area .filtr-item {
		width: 100%;
	}
	.box .box-content {
		padding-top: 25%;
	}
	.welcome-col .cd-headline {
		font-size: 16px;
	}
	.section-title-col h2, .callback-col h2 {
		font-size: 26px;
	}
	.about-image-title h3 {
		font-size: 16px;
	}
	.separator-col h2 {
	    font-size: 20px;
	}
	.portfolio-nav li {
		margin-left: 3px;
		margin-right: 3px;
		font-weight: normal;
	}
	.serviceBox .title {
		font-size: 20px;
	}
	.section-title-col p {
		font-weight: bold;
    	font-size: 13px;
		font-style: italic;
	}
	.about-title-box::before {
		width: 200px;
	}

}


@media only screen and (max-width:350px) {
	.tab .nav-tabs li a {
	    font-size: 14px;
	    padding: 0 5px 0;
	}
}

@media only screen and (max-width:320px) {
	.welcome-col h1 {
		margin-top: 120px;
	}
	.carousel-caption {
		top: 42%;
	}
	.main-slider-area-two .carousel-caption {
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	.main-slider-area-two .carousel-control .glyphicon-chevron-right {
		margin-top: 40px;
	}
	.main-slider-area-two .carousel-control .glyphicon-chevron-left {
		margin-top: 40px;
	}
}


